body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px; /* Добавляем промежуток между панелями */
    width: 650px;
}

.left-panel {
    flex: 1;
    padding-right: 10px;
}

.right-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.5;
    background: #ffffff;
    border-radius: 8px;
    height: 220px;
    width: 220px;
}

h1 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 10px;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    outline: none;
}

input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#qr-container {
    display: inline-block;
    width: 100%;
    height: 100%;
}
